.tag-div{
    width: 200px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.61);
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    margin-bottom: 0px;
}
.func-div{
    width: 500px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.61);
    padding-top: 15px;
    border-radius: 10px;
    margin-left: 300px;
    position: relative;
    padding-left: 20px;
    top: -50px;
}